{% extends "base.html" %}

{% block title %}用户创建界面{% endblock %}

{% block content %}
    <div class="content">
        <h2>用户创建界面</h2>
        <form method="post" action="/users">
            {% comment %} {% csrf_token %} {% endcomment %}
            {{ user_form.as_p }}
            {{ userinfo_form.as_p}}
            <button type="submit">新建</button>
        </form>
        <p>广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔广州塔</p>
    </div>
    

{% endblock %}